<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565005723635-d6225588s8tt0i16bv9as1gd9phaaa1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565005723635-d6225588s8tt0i16bv9as1gd9phaaa1p</string>
	<key>API_KEY</key>
	<string>AIzaSyALvKiX8TkpygpuWJ57Sh2E2MpLDkeHc5k</string>
	<key>GCM_SENDER_ID</key>
	<string>565005723635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSAMSO.SwiftUIChat</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-592d5</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-592d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565005723635:ios:04d5e64b5194b343981486</string>
</dict>
</plist>